

#grid_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
}

.bar_container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 100px;
}

#submit {
    background-color: cornflowerblue;
    font-size: medium;
}

.square {
    height: calc(100vw / 16);
    background-color: wheat;
    border: 2px;
    border-color: black;
    border-style: solid;
    flex: 0 0 calc(100vw / 16);

}

.square:hover {
  background-color:gold;  
}