

.grid_countainer {
    display: flex;
    flex-direction: row;
}

.bar_container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 100px;
}

#submit {
    background-color: cornflowerblue;
    font-size: medium;
}

#square {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 20px;
    border-color: brown;
}